@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,600');

body{
    background-image: url(images/white_wall.png) /* Background pattern from Toptal Subtle Patterns */
}

header{
    display: flex;
    justify-content: space-between;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.artDiv{
    position: relative;
    text-align: center;
    width: 330px;
    height: auto;
    margin: 10px;
}

.artImage{
    width: 100%;
    display: block;
}

.labelOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fcfbf7;
  }
  
  .artDiv:hover .labelOverlay {
    opacity: 1;
  }

.artInfo{ 
    position: absolute;
    margin: 0 0;
    padding: 30;
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: medium;
    text-align: left;
}

.artInfo::first-line{
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
}